.movie_data {
  background-color: #4e4e4e;
  margin: 100px;
  padding: 30px;
  position: relative;
}
.movie_title {
  border-bottom: 3px;
  font-size: xx-large;
}
.movie_ovorview {
  color: #afafaf;
}
.movie_id {
  background-color: #bf6a6a;
  border: 1px solid #000;
  padding: 3px;
  right: 10px;
  top: 5px;
}
.movie_date,
.movie_id {
  border-radius: 10px;
  color: #d9d9d9;
  position: absolute;
}
.movie_date {
  bottom: 15px;
  font-size: 13px;
  right: 15px;
}
.movie_viewt {
  border-radius: 10px;
  box-shadow: inset -1px 3px 8px 5px #4e4e4e, 2px 5px 16px 0 #531d8c,
    5px 5px 15px 5px transparent;
}
.movie_adult {
  background-color: red;
  border-radius: 50%;
  left: 20px;
  padding: 3px;
  position: absolute;
  top: 20px;
  z-index: 9999;
}
.movie_poster {
  border: 1px solid #c6b1cf;
  display: inline-block;
}
.movie_lang {
  text-transform: uppercase;
}
body {
  background-color: #222;
  color: #fff;
}
.menu {
  background-color: #4b5175;
  font-size: large;
}
ul {
  display: inline-block;
  list-style-type: none;
}
li {
  float: left;
}
li a {
  color: #fff;
  display: block;
  margin: 20px;
  text-align: center;
  text-decoration: none;
}
.yt__main {
  background-color: #3c3c3c;
  height: 750px;
  overflow: auto;
}
.yt__topview {
  display: flex;
  justify-content: space-between;
}
.yt__topview_left {
  display: flex;
  justify-content: start;
}
.yt__topview_right {
  align-items: center;
  display: flex;
}
.yt__topview_right > span {
  margin-right: 10px;
}
.yt__topview_left_time {
  font-size: x-large;
  margin: 20px;
}
.yt__topview_2 {
  display: flex;
  justify-content: space-between;
}
.yt__topview_2_logo {
  align-items: center;
  display: flex;
  font-size: xx-large;
  font-weight: 0;
  margin-left: 20px;
}
.yt__topview_2_logo_red {
  background-color: red;
  border-radius: 10px;
  font-size: 25px;
  margin-right: 5px;
  padding: 0 15px;
}
.yt__topview_2_right {
  display: flex;
  justify-content: end;
}
.yt__topview_2_right > div {
  margin-right: 30px;
}
.yt__topview_3 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 10px;
}
.yt__topview_3_left {
  align-items: center;
  background-color: #676767;
  border: 0 solid;
  border-radius: 5px;
  display: flex;
  margin-bottom: 0;
  margin-left: 20px;
  padding: 5px 25px 5px 5px;
}
.yt__topview_3_left > span {
  font-size: medium;
}
.yt__topview_3_right > span {
  background-color: #676767;
  border: 1px solid #b7b7b7;
  border-radius: 50px;
  display: inline;
  margin-bottom: 0;
  margin-right: 30px;
  padding: 10px;
}
.yt__topview_3_right > span:first-child {
  background-color: #eee;
  border: 1px solid #fff;
  color: #333;
}
.yt__play_view_profile {
  border-radius: 50px;
  margin-left: 10px;
  margin-top: 5px;
}
.yt__play_view_text {
  align-items: center;
  display: flex;
}
.yt__play_view_text > span {
  display: flex;
  font-size: xx-large;
  margin-left: 20px;
}
.yt__play_view_text > div {
  background-color: red;
  font-size: xx-large;
  justify-content: end;
}
.yt__play_view_nametext {
  margin-bottom: 10px;
  margin-left: 80px;
}
.yt__play_view_nametext > span {
  color: #c7c7c7;
  margin-left: 20px;
}
.shorts_banur {
  font-size: xx-large;
  padding: 30px 5px;
}
.shorts_banur_logo {
  background-color: red;
  border-radius: 70px 20px;
  margin: 10px;
  padding: 10px 5px;
}
.shorts_text > div {
  font-size: larger;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 5px;
}
.shorts_text > div:nth-child(2) {
  color: #9f9f9f;
  font-size: large;
}
.shorts_card {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 300px;
}
.shorts_cards {
  display: flex;
}
.bottom_view {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
}
/*# sourceMappingURL=main.1e227309.css.map*/
