.menu {
  background-color: rgb(75, 81, 117);

  font-size: large;
}

ul {
  list-style-type: none;
  display: inline-block;
}
li {
  float: left;
}
li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 20px;
}
