.yt__topview {
  display: flex;
  background-color: rgb(118, 118, 118);
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
}
.yt__topview_left {
  display: flex;
  justify-content: start;
}
.yt__topview_right {
  display: flex;
  align-items: center;
}
.yt__topview_right > span {
  margin-right: 10px;
}
.yt__topview_left_time {
  margin: 20px;
  font-size: large;
}

.yt__topview_2_logo {
  font-size: xx-large;
  font-weight: 00;
  margin-left: 20px;
}
